fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv

langchain
langchain-core
langchain-community
langchain-groq
langchain-text-splitters

sentence-transformers
faiss-cpu
torch
numpy

docx2txt
python-docx
groq